.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.container100h {
  border: 3px solid black;
  height: 100vh;
}

.container50h {
  border: 1px solid blue;
  height: 50vh;
}

.colBorder {
  border: 1px solid red;
}

.codeWars {
  text-align: left;
  padding-right: 2px;
}

.cwTD {
  padding-right: 5px;
}

.codeWarsTable {
  text-align: left;
  border-left: 1px solid white;
  border-top: 1px solid white;
  /*padding: 20px;*/
}


.streaksTable {
  border: 3px solid black;
  width: 100%;
}

.streaksTh {
  width: 100%;
}

.streaksTr {
  border: 2px solid red;
}

.streaksTd {
  border: 1px solid blue;
  width: 14%;
}
